.App {
  text-align: center;
  padding-top: 80px;
  margin-bottom: -160px;

  font:inter;
  font-weight: 700;
  font-size: 36px;
}
/* App.css */
.grid-container {
  display: flex;
  grid-gap: 40px;
  justify-content: center; 
  align-items: center;
  height: 100vh;
}

.text-field-container {
  display:flex;
  border: 1px solid #c7c7c7;
  background-color: transparent;
  padding:15px;
  height: 350px;
  width: 350px; 
  text-align: left;
  border-radius: 9px;
}


.text-field {
  display: flex;
  flex-direction: column;
}


.text-content:first-child {
  font:inter;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 29.05px;
}

.text-content:last-child {
  margin-bottom: 0; 
  font:inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 41.28px;
}


/* App.css */
.team-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  justify-content: center;
  padding: 230px;
}

.team-field-container {
  text-align: center;
  border: 1px solid #c7c3c3;
  background-color: transparent;
  border-radius: 9px;
  padding: 10px;
  max-width: 290px;
  max-height:300px;
}

.team-image img {
  padding:20px;
  width: 147px;
  height: 147px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.text-name {
  font:inter;
  font-weight: 600;
  font-size:20px;
  line-height: 24.2px;
  font-weight: bold;
  color: black;
 
}

.text-post {
  font: inter;
  font-weight: 400;
  font-size: 16px;
  color: #2161CD;
  font-style: italic;
  line-height: 34.64px;
  text-align: center;
}

/* App.css */
.whole-container {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.image-cont {
  width: 517px;
  height:447px; /* Set the width to 40% of the container */
  margin-right: 20px; 
  margin-left: 140px;
}

.image-cont img {
  width: 100%;
  height: auto;
}

.right-field {
  padding:80px;
  flex: 1;
  display: flex;
  flex-direction: column; 
}

.top-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.top-desc {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

/* App.css */
.complete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.msg-container {
  padding:80px;
  max-width: 717px;
  flex:1;
  display: flex;
  flex-direction: column;
}

.msg-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.msg-desc {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

.chairman-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.chairman-image img {
  width: 512px; 
  height: 712px;
}